<ion-view>
    <div class="doc-example ionic">
        <div class="bar bar-header bar-stable">
            <div class="h1 title">Hello, Ionic and Meteor</div>
        </div>
    </div>
    <div class="content has-header padding" ng-controller="TestController as testCtrl">
        <p>
            {{message}}
        </p>
        <button class="button" ng-click="changeAngularText()">Change Angular Text</button>
        <button class="button" ng-click="changeMeteorText()">Change Meteor Text</button>
        <br />
        <button class="button" ng-click="callRemote()">Call Remote Url</button>
    </div>
    <div class="content has-header padding">
        <a href="second">Go to second page</a>
    </div>
</ion-view>